#container {
  text-align: center;
  font-family: sans-serif!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}

ion-button{
  margin: 35px auto;
  width: 75%;
}

