<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <img src="../../assets/img/busca.png"/>
  <form #LoginForm="ngForm" (ngSubmit)="login(nameUser.value, namePass.value)">
    <div class="login">
      
        <!-- <ion-input required #loginUsuario="ngModel"  name="usuario" placeholder="Usuário"></ion-input>
        <ion-input required #loginSenha="ngModel"  name="senha" placeholder="Senha"></ion-input> -->
          <ion-input #nameUser name="user" ngModel type="text" placeholder="Usuário"></ion-input>
          <ion-input #namePass name="pass" ngModel type="password" placeholder="Senha"></ion-input>
          <!-- <ion-input [(ngModel)]="perfisenha" name="senha" placeholder="Senha"></ion-input> -->
          <ion-button type="submit" color="success">Login</ion-button>
    </div>
  </form>
        <div class="reg">
          <ion-label [routerLink]="['/cadastro']">Realizar cadastro. <strong>Clique aqui!</strong></ion-label>
        </div>
      
</ion-content>