<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar função</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #contatoForm="ngForm">
    <ion-item>
      <ion-label position="floating">Função:</ion-label>
      <ion-input type="text" name="telefone" [(ngModel)]="funcao.nome">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição:</ion-label>
      <ion-textarea maxlength="250" type="text" name="celular" [(ngModel)]="funcao.descricao"></ion-textarea>
    </ion-item>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="salvar()" [disable]="!funcao.nome">
        <ion-icon name="checkmark-outline"></ion-icon> 
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
